# --------------------------------------------------------------------------
# Systemd service Definition for nerd-sonic.service.
#
# The service just starts the script /usr/local/sbin/nerd-sonic.py
# Please edit /etc/nerd-sonic.conf to configure the script.
#
# Author: Bernhard Bablok
# License: GPL3
#
# Website: https://github.com/bablokb/nerd-sonic
#
# --------------------------------------------------------------------------

[Unit]
Description=Master service for the dispenser
After=multi-user.target

[Service]
Type=simple
User=nerdd
ExecStart=/usr/bin/python3.5 /usr/local/sbin/nerd-sonic.py

[Install]
WantedBy=multi-user.target
