# --------------------------------------------------------------------------
# Systemd service Definition for nerd-dispenser.service.
#
# The service just starts the script /usr/local/sbin/nerd-dispenser.py
# Please edit /etc/nerd-dispenser.conf to configure the script.
#
# Author: Bernhard Bablok
# License: GPL3
#
# Website: https://github.com/bablokb/nerd-dispenser
#
# --------------------------------------------------------------------------

[Unit]
Description=Master service for the dispenser
After=multi-user.target
 
[Service]
Type=simple
User=nerdd
ExecStart=/usr/bin/python3 /usr/local/sbin/nerd-dispenser.py

[Install]
WantedBy=multi-user.target
